<% content_for :navbar_right do %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to '四字熟語 登録', new_four_phrase_path %>
    </li>
  </ul>

  <%= form_tag four_phrases_path, method: :get, class: "navbar-form navbar-right" do %>
    <div class="form-group">
      <%= text_field_tag :chars, params[:chars], class: "form-control", placeholder: '例) 一心' %>
    </div>
    <%= submit_tag '検索', class: "btn btn-default" %>
  <% end %>
<% end %>

<% columns = 5 %>

<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>四字熟語</th>
      <% (columns-1).times do %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @four_phrases.each_slice(columns) do |four_phrases| %>
      <tr>
        <% four_phrases.each do |four_phrase| %>
          <td><span><%= four_phrase.to_s %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @four_phrases %>
