<p id="notice"><%= notice %></p>

<p>
  <strong>Char1:</strong>
  <%= @three_phrase.char1_id %>
</p>

<p>
  <strong>Char2:</strong>
  <%= @three_phrase.char2_id %>
</p>

<p>
  <strong>Char3:</strong>
  <%= @three_phrase.char3_id %>
</p>

<%= link_to 'Edit', edit_three_phrase_path(@three_phrase) %> |
<%= link_to 'Back', three_phrases_path %>
