<%= form_for(three_phrase, url: admin_three_phrase_path(three_phrase), method: :patch, class: "form-horizontal") do |f| %>
  <% if three_phrase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(three_phrase.errors.count, "error") %> prohibited this three_phrase from being saved:</h2>

      <ul>
        <% three_phrase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :char1_id %>
    <%= f.text_field :char1_id , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :char2_id %>
    <%= f.text_field :char2_id , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :char3_id %>
    <%= f.text_field :char3_id , class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
